name: Cleanup GHCR

on:
  schedule:
    - cron: "30 2 * * 0"
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          package-name: actual-auto-backup
          package-type: container
          min-versions-to-keep: 10
          delete-only-untagged-versions: true
